{% extends 'account/mdb-base.html' %}

{% block head %}
<style>
    .form-container
    {
        height: 62.3vh;
        margin-top: 30vh;
        
    }
</style> 
{% endblock %}  

{% block content %}


    <div class="global-container">
        <div class="card login-form">
            <div class="card-body form-container ">
            <h3 class="card-title text-center  d-flex justify-content-center display-6">Forgotten Password</h3>
                        
            {% if messages %}
            <ul class="d-flex justify-content-center">
                {% for message in messages %}
                    <li {% if message.type is error %} class = "text-danger" {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
            <section class="w-100 p-4 d-flex justify-content-center pb-4 ">
                <form style="width: 22rem;" method="post">
                    {% csrf_token %}
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input name = "credential" type="text" id="form5Example1" class="form-control">
                    <label class="form-label" for="form5Example1" style="margin-left: 0px;">Enter Email/Username :</label>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 45.6px;"></div><div class="form-notch-trailing"></div></div></div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
                </form>
            </section>

            </div>
    </div>
    </div>
    

    {% endblock %}