<!-- Required meta tags -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet" />
    <title>USER REGISTRATION</title>
    <style>

        .main-container
        {
            border: 5px solid #dee2e6;
            /* padding:25px; */
            margin-top: 35px;
            margin-bottom: 35px;
            padding-bottom: 20px;
            
        }

        .header
        {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 1px solid #dee2e6;
            padding : 5px;
        }
    </style>

</head>
<body>
    <section class="">
        <div class="container main-container">
            <div class="BoxA border-padding mar-bot header"> 
                <div class="row">
                    <div class="col-sm-4">
                        <h5>SATSANG SAMITI</h5>
                        <p>NH - 79 Gangrar Chittorgarh - 312901 <br> DEOGARH, INDIA</p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img class="img-fluid" src="https://satsang.org.in/logo.png"/>
                    </div>
                    <div class="col-sm-4" style="text-align:right;">
                        <h5>USER REGISTRATION</h5>
                        <p>Date : 27/07/2022 <br>
                            Time : 19:34:21 PM
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="admit-card">
                <div class="BoxD border- padding mar-bot">
                    <div class="row">
                        <div class="col-sm-10">
                            <table class="table table-bordered" style="width: 1106.99px;">
                                <tbody>
                                    <tr>
                                        <td colspan="2"><span style="font-size:18px;"><b>PERSONAL DETAILS</b></span></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 575px;"><b>UNIQUE ID : 9910101</b></td>
                                        <td style="width: 575px;"><b>Mobile : </b>6656547888</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 575px;"><b>First Name : </b>Vinod</td>
                                        <td style="width: 575px;"><b>Last Name :&nbsp;</b>Sharma</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 575px;"><b>Father Name: </b>SS Sharma</td>
                                        <td style="width: 575px;"><b>Age: </b>45</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><b>Email : </b>mail@mymail.com</td>
                                    </tr>
                                </tbody>
                            </table>
    
                            <table class="table table-bordered" style="width: 1106.99px;">
                                <tbody>
                                    <tr>
                                        <td colspan="2"><span style="font-size:18px;"><b>PERMANENT ADDRESS</b></span></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 575px;"><b>Street : </b>98</td>
                                        <td style="width: 575px;"><strong>City : </strong>Raipur</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><b>State&nbsp; : </b>Chhattisgarh</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><b>Pin : </b>79797</td>
                                    </tr>
                                </tbody>
                            </table>
    
                            <table class="table table-bordered" style="width: 1106.99px;">
                                <tbody>
                                    <tr>
                                        <td colspan="2"><span style="font-size:18px;"><b>PRESENT ADDRESS</b></span></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 575px;"><b>Street : </b>75</td>
                                        <td style="width: 575px;"><strong>City : </strong>Raipur</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><b>State&nbsp; : </b>Chhattisgarh</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><b>Pin : </b>79797</td>
                                    </tr>
                                </tbody>
                            </table>
    
                            <table class="table table-bordered" style="width: 1106.99px;">
                                <tbody>
                                    <tr>
                                        <td colspan="2"><span style="font-size:18px;"><b>MISCELLANEOUS DETAILS</b></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 575px;"><b>Education : </b>Graduated</td>
                                        <td style="width: 575px;"><b>Profession : </b>Graduated</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 575px;"><b>Religion : </b>Hindu</td>
                                        <td style="width: 575px;"><b>Varna : </b>Hindu</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><b>Satvik&nbsp; : </b>Ramesh</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <p> I hereby declare that I would agree to terms and condition of Organisation and I would respect all of my duities.</p>
            <img 
                src="/home/himanshuyadav/Development/Samiti Form/webapp/samiti/media/images/account/member/signature/sign.png"
                class="img-fluid"
                alt=""
                height="70px"
                width="150px"
            >
        </div>
    </section>
</body>
</html>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

